# Dependencies
mobile-app/node_modules/

# Expo (Root and Subfolder)
.expo/
mobile-app/.expo/
mobile-app/dist/

# Sensitive Files
mobile-app/.env
mobile-app/google-services.json
**/*.jks
**/*.p12
**/*.pem

# OS/IDE
.DS_Store
.idea/
.vscode/

# Project Specific
mobile-app/android/
mobile-app/ios/
git
