# Dependencies
mobile-app/node_modules/

# Expo (Root and Subfolder)
.expo/
mobile-app/.expo/
mobile-app/dist/

# Sensitive Files
mobile-app/.env
mobile-app/google-services.json
**/*.jks
**/*.p12
**/*.pem

# OS/IDE
.DS_Store
.idea/
.vscode/

# Project Specific
mobile-app/android/
mobile-app/ios/
git

app screenshots/activeTripDetails-12.jpg
app screenshots/concertTripsPage.jpg
app screenshots/festiveTripsPage.jpg
app screenshots/hiddenGemsPage.jpg
app screenshots/trendingTripsPage.jpg
app screenshots/tripDetails-1.jpg
app screenshots/tripDetails-2.jpg
app screenshots/tripDetails-3.jpg
app screenshots/VideoCapture_20260426-002511.jpg
app screenshots/VideoCapture_20260426-002518.jpg
app screenshots/VideoCapture_20260426-003403.jpg
