# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native Directories (Expo Managed/Prebuild)
android/
ios/

# Sensitive Files
.env
.env.local
.env*.local
google-services.json
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro & Build
.metro-health-check*
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS & System
.DS_Store
.idea/
.vscode/
*.swp
*.lock

# Custom Project Ignores
app/discover-trip/sports-trip/
app-example/
SYSTEM_BRAIN.md
resources/
"google-services.json" 
